accelerate==1.15.0
datasets==5.0.1
lightgbm==4.7.0
numpy==2.5.3
pandas==2.3.3
pyarrow==25.0.1
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
scikit-learn==1.9.1
scipy==1.18.1
sentence-transformers==6.1.0
torch==2.14.0
tqdm==4.70.1
transformers==5.17.0
